<div class="container">
  <h3 class="margin_top text-center">送信が完了しました</h3>
  <div class= "container">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 pt-3 mx-auto ">
  <div class="margin_top">内容は以下の通りです。</div>
    <div class="small_margin_top">
      [タイトル]<p class="font-weight-bold"> <%= @mail_title %></p>
    </div>
    <div>
      [本文]<p class="font-weight-bold"> <%= safe_join(@mail_content.split("\n"),tag(:br)) %></p>
    </div>
  </div>
</div>
</div>
